<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= card_list.photo.attached? ? cl_image_path(card_list.photo.key) : "http://source.unsplash.com/featured/?#{card_list.name}&#{rand(1000)}" %>)">
  <%= card_list.name.upcase %>
  <%= link_to "", list_path(card_list), class:"card-link" %>
</div>

