<div class="container mt-5 d-flex justify-content-between">
  <h1>Watchlist</h1>
   <%= link_to "Add a List", new_list_path, class: "p-3 rounded-3 mt-auto btn btn-primary" %>
</div>

<div class="container cards mt-5">
  <% @lists.each do |list| %>
    <%= render 'lists/card', card_list: list %>
  <% end %>
</div>
