<div class="container mt-5 d-flex justify-content-around">
  <h1>Watchlist</h1>
   <%= link_to "Add a List", new_list_path, class: "btn btn-primary" %>
</div>

<div class="cards">
  <% @lists.each do |list| %>
    <%= render 'lists/card', list: list %>
  <% end %>
</div>